.myPanel{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 3%;
    box-shadow: 0px 0px 4px #ccc;
}

.myPanel .heading {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 200%;
    background: #FFA500;
    border-radius: 1px;
    text-align: center;
    color: white;
    padding: 0px 0px 0px 0px;
}

.myPanel .body{

    padding: 5px 5px 5px 5px;
}

.cards{
    color: black;
    font-size: 100%;
    text-align: center;
    font-family: "Times New Roman";
    padding-left: 20px;
    padding-bottom: 10px;
}

.copyright{
    text-align: right;
    color: white;
    padding: 10px;
}

.followus{
    text-align: right;
    color: white;
    padding: 10px;
}

.jumbotron{
    background-image: url('img1.jpg');
    /*background-size: cover;*/
}