@charset "utf-8";
/* CSS Document */
body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.myPanel1{
    border: 0px;
}

.myPanel{
    border: 1px solid#687D6D;
    margin: 3%;
    box-shadow: 0px 0px 4px #ccc;
}

.myPanel .heading {
    background: #B6F0C4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #687D6D;
    padding: 0px 0px 0px 0px;
}

.myPanel .body{

    padding: 5px 0px 5px 0px;
}

.myPanel .showOnHover{
    display: none;
}

.myPanel:hover{
    box-shadow: 0px 0px 8px black;
    border: 2px solid #687D6D;
}

.myPanel:hover .showOnHover {
    display: inline-block;
}


p {
    color: black;
    font-size: 200%;
    text-align: center;
    font-family: "ziperhead";
}

heading {
    color: black;
    font-size: 250%;
    text-align: center;
    font-family: "Futura";
}

/* Remove margins and padding from the list, and add a black background color */
.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}


.show{
    vertical-align: left;
}
.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { 
	display: none; 
}

.slide-container { 
	display: block; 
}

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;
	opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { 
	opacity: 0.5; 
}

.nav label:hover { 
     opacity: 1; 
}

.nav .next { 
	right: 0; 
}

input:checked + .slide-container  .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { 
    display: block; 
}

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

.copyright{
    text-align: right;
    color: white;
    padding: 10px;
}
.followus{
    text-align: right;
    color: white;
    padding: 10px;
}

#container {
   min-height:100%;
   position:relative;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
html { 
height: 100%; 
} 
body { 
position: relative; 
min-height: 100%; 
} 
.footer {
position: absolute;
bottom: 0;
color:white;
    width:100%;
}
